<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<body>

	<!-- Fragmento reutilizável do cabeçalho -->
	<header th:fragment="header" class="topo">

		<!-- Faixa superior com logo e nome do sistema -->
		<div class="topo-logo">

			<a href="/" class="logo-area"> <img
				src="/img/icone-cachorro-logo.png" class="logo-icone"
				alt="Logo PetStock"> <span class="logo-texto">PETSTOCK</span>

			</a>

		</div>

		<!-- Menu principal do sistema -->
		<nav class="menu">

			<a href="/"
				th:classappend="${paginaAtual == 'inicio'} ? 'ativo' : ''">Início</a>
				
		    <a href="/vendas"
				th:classappend="${paginaAtual == 'vendas'} ? 'ativo' : ''">Vendas</a>
				
			<a href="/relatorios"
				th:classappend="${paginaAtual == 'relatorios'} ? 'ativo' : ''">Gestão
				de Vendas</a>

			<a href="/clientes"
				th:classappend="${paginaAtual == 'clientes'} ? 'ativo' : ''">Cliente</a>
				
			<a href="/produtos"
				th:classappend="${paginaAtual == 'produtos'} ? 'ativo' : ''">Produtos</a>
				
			<a href="/estoque"
				th:classappend="${paginaAtual == 'estoque'} ? 'ativo' : ''">Estoque</a>

			<a href="/fornecedores"
				th:classappend="${paginaAtual == 'fornecedores'} ? 'ativo' : ''">Fornecedor</a>


			

		</nav>

	</header>

</body>

</html>