<!DOCTYPE html>
<html lang="pt-br">

<head>

<!-- Importa o CSS principal do sistema -->
<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>Estoque - PetStock</title>
</head>

<body>
	<!-- Insere o cabeçalho padrão -->
	<div th:replace="fragments/header :: header"></div>

	<!-- Conteúdo principal da página -->
	<main class="conteudo">

		<h1>Estoque</h1>


		<hr>

		<table border="1">

			<thead>
				<tr>
					<th>ID Produto</th>
					<th>Produto</th>
					<th>Categoria</th>
					<th>Marca</th>
					<th>Quantidade Atual</th>
					<th>Status</th>
				</tr>
			</thead>

			<tbody>

				<tr th:each="produto : ${produtos}">

					<td th:text="${produto.idProduto}"></td>

					<td th:text="${produto.nome}"></td>

					<td
						th:text="${produto.categoria != null ? produto.categoria : '-'}"></td>

					<td th:text="${produto.marca != null ? produto.marca : '-'}"></td>

					<td
						th:text="${produto.estoque != null ? produto.estoque.quantidadeAtual : '-'}"></td>

					<td
						th:text="${produto.estoque != null && produto.estoque.quantidadeAtual > 0 ? 'Disponível' : 'Sem estoque'}"></td>

				</tr>

			</tbody>

		</table>
	</main>
</body>

</html>