<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Novo Cliente - PetStock</title>

<!-- CSS global -->
<link rel="stylesheet" href="/css/style.css">
</head>

<body>

	<!-- Cabeçalho padrão -->
	<div th:replace="~{fragments/header :: header}"></div>

	<main class="conteudo">

		<h1>Cadastrar Cliente</h1>

		<hr>

		<!-- Formulário -->
		<form th:action="@{/clientes/salvar}" th:object="${cliente}"
			method="post">

			<!-- ID do cliente, usado quando for edição -->
			<input type="hidden" th:field="*{idCliente}">

			<!-- ID do endereço, usado para não criar endereço duplicado na edição -->
			<input type="hidden" th:field="*{endereco.idEndereco}">

			<!-- ID do contato, usado para não criar contato duplicado na edição -->
			<input type="hidden" th:field="*{contato.idContato}">

			<!-- Nome -->
			<div>
				<label>Nome:</label> <br> <input type="text" th:field="*{nome}"
					required>
			</div>

			<br>

			<!-- Rua -->
			<div>
				<label>Rua:</label> <br> <input type="text"
					th:field="*{endereco.rua}" required>
			</div>

			<br>

			<!-- Cidade -->
			<div>
				<label>Cidade:</label> <br> <input type="text"
					th:field="*{endereco.cidade}" required>
			</div>

			<br>

			<!-- Estado -->
			<div>
				<label>Estado:</label> <br> <input type="text"
					th:field="*{endereco.estado}" required>
			</div>

			<br>

			<!-- CEP -->
			<div>
				<label>CEP:</label> <br> <input type="text"
					th:field="*{endereco.cep}" required>
			</div>

			<br>

			<!-- Celular -->
			<div>
				<label>Celular:</label> <br> <input type="text"
					th:field="*{contato.celular}">
			</div>

			<br>

			<!-- Email -->
			<div>
				<label>Email:</label> <br> <input type="email"
					th:field="*{contato.email}">
			</div>

			<br>

			<!-- Botão -->
			<button type="submit">Salvar Cliente</button>

		</form>

	</main>

</body>

</html>