<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>PetStock</title>

<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/index.css">
</head>

<body>

	<div th:replace="~{fragments/header :: header}"></div>

	<main class="conteudo">

		<section class="inicio-apresentacao">

			<h1>Bem-vindo ao PetStock</h1>

			<p>
				Acesse rapidamente as principais ações de venda, consulte vendas
				realizadas e gerencie as informações essenciais do sistema.
			</p>

			<div class="acoes-principais">

				<a href="/vendas" class="acao-principal">
					<h2>Registrar nova venda</h2>
					<p>Inicie uma venda e adicione produtos ao carrinho.</p>
				</a>

				<a href="/relatorios" class="acao-principal">
					<h2>Gestão de vendas</h2>
					<p>Consulte, edite ou exclua vendas realizadas.</p>
				</a>

			</div>

		</section>

		

	</main>

</body>

</html>