<!DOCTYPE html>
<html lang="pt-br">

<head>

<!-- Importa o CSS principal do sistema -->
<link rel="stylesheet" href="/css/style.css">
<meta charset="UTF-8">
<title>Vendas - PetStock</title>
</head>

<body>
	<!-- Insere o cabeçalho padrão -->
	<div th:replace="fragments/header :: header"></div>

	<!-- Conteúdo principal da página -->
	<main class="conteudo">
		<h1>Vendas</h1>


		<hr>

		<table border="1">

			<thead>
				<tr>
					<th>ID</th>
					<th>Data</th>
					<th>Cliente</th>
					<th>Valor Total</th>
				</tr>
			</thead>

			<tbody>

				<tr th:each="venda : ${vendas}">
					<td th:text="${venda.idVenda}"></td>
					<td th:text="${venda.dataVenda}"></td>
					<td
						th:text="${venda.cliente != null ? venda.cliente.nome : 'Sem cliente'}"></td>
					<td th:text="${venda.valorTotal}"></td>
				</tr>

			</tbody>

		</table>

	</main>
</body>

</html>